
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.App {
  padding: 0 50px;
  font-family: 'Quicksand';
  height: 98vh;
}

.Header{
  display: flex;
  align-items: center;
}

.Header h1{
  color: rgb(226, 0, 38);
}

.Home{
  display: flex;
  flex-direction: column;
}



.Search{
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.5vh;
}





.navigation ul{
  display: flex;
  justify-content: end;
}

.navigation ul li{
  margin: 0px;
  list-style: none;
  padding: 0 30px;
  border-radius: 5px;
}



.navigation ul li a{
  color: rgb(226, 0, 38);
  text-decoration: none;
  font-weight: 600;
}



.Content{
  padding-top: 50px;
  padding-left: 50px;
  max-height: 80vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  
}

.Form{
  display: flex;
  background-color: white;
  width: 90vw;
  height: 80vh;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.Form input, .Form textarea{
  width: 500px;
}

input{
  height: 40px;
  width: 500px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1px 10px;
  font-size: 16px;
  color: rgb(32, 32, 32);
  font-family: 'Quicksand', sans-ser;
  font-weight: 500;
}

textarea{
  height: 150px;
  width: 500px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 16px;
  color: rgb(32, 32, 32);
  font-family: 'Quicksand', sans-ser;
  font-weight: 500;
}

button{
  background-color: rgb(226, 0, 38);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: 'Quicksand', sans-ser;
  font-size: 15px;
  font-weight: 600;
  margin: 20px 0;
  cursor: pointer;
}

label{
  font-size: 20px;
  font-family: 'Quicksand', sans-ser;
  font-weight: 600;
  margin: 30px 0 10px 0;
}


