
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.App {
  padding: 0 50px;
  font-family: 'Quicksand';
  height: 98vh;
}

.Header{
  display: flex;
  align-items: center;
}

.Header h1{
  color: rgb(226, 0, 38);
}

.Home{
  display: flex;
  flex-direction: column;
}



.Search{
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.5vh;
}





.navigation ul{
  display: flex;
  justify-content: end;
}

.navigation ul li{
  margin: 0px;
  list-style: none;
  padding: 0 30px;
  border-radius: 5px;
}



.navigation ul li a{
  color: rgb(226, 0, 38);
  text-decoration: none;
  font-weight: 600;
}



.Content{
  padding-top: 50px;
  padding-left: 50px;
  max-height: 80vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  
}

.Blog ul li{
  margin-right: 50px;
  padding: 30px 30px 10px 30px;
  border-radius: 5px;
  max-width: 300px;
}

.read{
  margin-right: 20px;
  margin-bottom: -10px;
}

.Form{
  display: flex;
  background-color: white;
  width: 90vw;
  height: 80vh;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.Form input, .Form textarea{
  width: 500px;
}

input{
  height: 40px;
  width: 500px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1px 10px;
  font-size: 16px;
  color: rgb(32, 32, 32);
  font-family: 'Quicksand', sans-ser;
  font-weight: 500;
}


textarea{
  height: 150px;
  width: 500px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 16px;
  color: rgb(32, 32, 32);
  font-family: 'Quicksand', sans-ser;
  font-weight: 500;
}

button{
  background-color: rgb(226, 0, 38);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: 'Quicksand', sans-ser;
  font-size: 15px;
  font-weight: 600;
  margin: 20px 0;
  cursor: pointer;
}

label{
  font-size: 20px;
  font-family: 'Quicksand', sans-ser;
  font-weight: 600;
  margin: 30px 0 10px 0;
}




/* Large desktops */
@media (min-width: 1681px) {
  .Search{
    width: 73%;
  }
}

/* Medium desktops */
@media (min-width: 1366px) and (max-width: 1680px) {
  .Search{
    width: 65%;
  }
}

/* Small desktops and laptops */
@media (min-width: 1024px) and (max-width: 1365px) {
  .Search{
    width: 52%;
    position: relative;
    right: 4vw;
  }

  .Search input{
    width: 180%;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .Search{
    width: 40%;
    position: relative;
    left:3vw;
  }

  .Blog{
    width: 70vw;
  }

  .Search input{
    width: 100%;
  }

  .App{
    padding: 0 15px;
  }
}

@media (min-width: 280px) and (max-width: 767px) {
  .Header{
    flex-direction: column;
  }

  .Search input{
    width: 80vw;
  }

  .Blog{
    width: 90vw;
  }

  .navigation ul{
    padding: 0;
    
  }

  .App{
    padding: 5px;
  }

  .Content{
    align-items: center;
    padding: 20px 10px;
    max-height: 80vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .Form{
    display: flex;
    background-color: white;
    width: 90vw;
    height: 80vh;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
  }
  
  .Form input, .Form textarea{
    width: 80vw;
  }

  li{
    text-align: left;
    position: relative;
    padding: 0;
  }
}